{% extends 'core/bootstrap.html' %}

{% load bootstrap4 %}
{% load icons %}

{% block bootstrap4_content %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-danger" style="background-color: #e3f2fd;">
	  <a class="navbar-brand" href="{% url 'painel' %}">{% icon 'gas-pump' %}</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'painel' %}">Painel <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'estatistica' %}">Estatística <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'abastecimento_list' %}">Abastecimentos <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'logout' %}?next=/">Sair <span class="sr-only">(current)</span></a>
	      </li>
	    </ul>
	  </div>
	</nav>


	<main role="main" class="container">
      <h1>{% block title %}(no title){% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
        <br><br>
    </main>

{% endblock %}