{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load icons %}

{% block title %}{% endblock %}

{% block content %}
	<div class="container">
	  <br>
	  <div class="row">
	    <div class="col">
	      	<div class="card">
			  	<div class="card-header text-center">
				  {% icon 'exclamation-circle' %} Informar Km percorrida
				</div>
				<div class="row">
					{% for abastecimento in abastecimentos_km_pendente %}
					<div class="col" style="padding:25px;">
						<a href="{{ abastecimento.get_informar_km_percorrida_url }}" class="btn btn-lg btn-warning w-100">{% icon 'edit' %}<br>{{ abastecimento.data|date:"d/m" }}<br>
							{{ abastecimento.posto }}<br>{{ abastecimento.litros|floatformat:2 }} litros abastecidos</a>
					</div>
					{% empty %}
						<div class="col">
							<p class="text-center text-warning">Nenhum abastecimento com km pendente.</p>
						</div>
					{% endfor %}
				</div>
			</div>
	    </div>
	  </div>
	  <br>
	  <div class="row">
	    <div class="col">
			<a class="btn btn-lg btn-danger w-100" href="{% url 'abastecimento_add' %}">
				{% icon 'plus-circle' %}<br>Abastecer
			</a>
	    </div>
	  </div>
	</div>
{% endblock %}